<div class="center jumbotron">
  <h1>Welcome to Gathur</h1>

  <h2>
    Gathur is the best way to get together with your friends.
  </h2>

  <%= link_to "Sign up now!", newuser_path, class: "btn btn-lg btn-primary" %>
</div>